[2018-02-25 13:33] 3073 opened #1 "not tracking"
the tacker is not tracking the sequence of images in "test_mages" folder.
the position of the bounding boxes do not change. it well track the  "frame003" image

[2018-02-25 15:59] kcg2015 commented on #1
Could you provide more detail (error messages or images?)? I assume that you ran the main.py. I ran the example again. It seems to work fine. There could be a few occations that the detector could  miss detecting the car. In these cases, the most recently updated bounding box would be used for tracking (e.g.,  Frame 5).  Was this the situation that you encountered?

Here are a few examples from my

[2018-02-26 05:27] 3073 commented on #1
Ya that is the case. But I run the tracker.py not the main.py.

On Sun, Feb 25, 2018 at 7:59 AM, Kyle Guan <notifications@github.com> wrote:

[2018-02-26 05:29] 3073 commented on #1
By the way The tensorflow detection api with the SSD.Mobilet architecture
is not accurate than the pure SSD detector in keras.  I tested it in some
images and the score is very less for this API.....Why we use it?   do you
have SSD with a tracker like kalman filter? or do you know any?

thank you

On Sun, Feb 25, 2018 at 9:27 PM, Amare Mahtsentu <a.mahtsentu@gmail.com>
wrote:

[2018-02-26 05:34] 3073 commented on #1
[image: Inline image 1]

On Sun, Feb 25, 2018 at 9:29 PM, Amare Mahtsentu <a.mahtsentu@gmail.com>
wrote:

[2018-02-26 06:59] 3073 commented on #1
![image](https://user-images.githubusercontent.com/33939573/36656986-8e11c6f2-1a7f-11e8-8a8d-3c8ef706935a.png)

[2018-02-26 16:53] kcg2015 commented on #1
@3073 , thanks for your comments and  feedback.

1) The code in tracker.py is meant to quickly illustrate the impact noise covariance matrix of an measurement. You can modify the code:
127 images = [plt.imread(file) for file in glob.glob('./test_images/*.jpg')]
128 img=images[3]
to suit your purpose.

2) I agree with you that the detection (localization) quality of SSD-Mobilenet architecture is fa

[2018-02-26 17:25] 3073 commented on #1
Thank you for real. you are a smart developer with satisfying answer for
you customers.

what I am saying is do you know any github code that illustrates. SSD
detection and any kind of tracking algorithm for the detected objects like
in the following link.
   https://github.com/ykamikawa/yolov2

In this link we are using YOLO for detection and kalman filter for tracking
the detected objects. But s

[2018-02-26 23:55] kcg2015 commented on #1
@3073 , I  am only aware of Simple, online, and realtime tracking (SORT) for multi-object tracking in this repo: https://github.com/abewley/sort. Also if you want to dig deep into the concepts/techniques of varios Bayesian filters for tracking, the following repo is a very good source: https://github.com/rlabbe/Kalman-and-Bayesian-Filters-in-Python

Hope these would help.

Best,
Kyle

[2018-02-27 00:36] 3073 commented on #1
the link below is the perfect example that I need .  but I do not know
what type of detector is used in detector.py
https://github.com/ZidanMusk/experimenting-with-sort

anyways thank you for your time

On Mon, Feb 26, 2018 at 3:55 PM, Kyle Guan <notifications@github.com> wrote:

[2018-02-27 22:33] kcg2015 commented on #1
I have no idea either. The best way is to contact the author/developer of the repo directly.

[2018-02-28 01:03] 3073 commented on #1
Thank you

I have tested your gift (
https://github.com/kcg2015/Vehicle-Detection-and-Tracking) and  It is
working for a video file with minor modification to suit my need.
could you help me how  can I use it  Webcam?

On Tue, Feb 27, 2018 at 2:33 PM, Kyle Guan <notifications@github.com> wrote:

[2018-03-01 03:21] SignalImageCV opened #2 "name 'CarDetector' is not defined"
hi, I don't know why I got this wrong message?
$ python main.py
Traceback (most recent call last):
  File "main.py", line 193, in <module>
    det = CarDetector()
NameError: name 'CarDetector' is not defined

[2018-03-01 04:10] kcg2015 commented on #2
@SignalImageCV , let me look into this.  Meanwhile, if you use Spyder IDE, you can try to run helpers.py, detector.py, and tracker.py first. Then run main.py again, see if you still get this error message.  Let me know.

Best,
Kyle

[2018-03-01 04:24] kcg2015 commented on #1
I have not worked on webcam capturing yet. You can check out this YouTube video and the code for more information. https://www.youtube.com/watch?v=MyAOtvwTkT0. Hope this would help.

[2018-03-01 19:24] 3073 commented on #1
Thank you.
 do you have some time to show me How the Main.py works in your repo?
 I did not understand the codes in:
# Deal with matched detection
# Deal with unmatched detection
# Deal with unmatched tracks

On Wed, Feb 28, 2018 at 8:24 PM, Kyle Guan <notifications@github.com> wrote:

[2018-03-02 00:09] maearnie commented on #2
Hi I also got the same error. I run helpers.py, detector.py, and tracker.py and each file got the same error

[2018-03-02 00:41] kcg2015 commented on #2
@maearnie, thanks for letting me know. So you have an error message even running helpers.py?

[2018-03-02 00:43] kcg2015 commented on #1
@3073 , please give me some time to update the Readme file of the repo. I will provide more details about these three code blocks.

[2018-03-02 05:48] SignalImageCV commented on #2
@kcg2015 , @maearnie, I think this error was related to python Object-Oriented Programming--the combination of class, and I have fixed this error.
for example, in the main.py, "det = CarDetector()" should be written as "det = detector.CarDetector()", because it is outside the detector.py.
in the helpers.py, "def draw_box_label(img, bbox_cv2, box_color=(0, 255, 255), show_label=True):" should be wr

[2018-03-02 10:40] 3073 commented on #1
Thank you
take your time  my  friend

On Thu, Mar 1, 2018 at 4:43 PM, Kyle Guan <notifications@github.com> wrote:

[2018-03-02 17:02] kcg2015 commented on #2
Thanks a lot, @SignalImageCV!  I will look into your suggestion and fix the bug.

[2018-03-04 21:52] 3073 commented on #1
Is there a possibility to use this for counting the  tracked persons.  How
that can be possible

thank you

On Fri, Mar 2, 2018 at 2:40 AM, Amare Mahtsentu <a.mahtsentu@gmail.com>
wrote:

[2018-03-05 02:28] kcg2015 commented on #1
Yes.  The number of tracked persons equals to matched detections.

[2018-03-05 10:15] 3073 commented on #1
Thank you
I am really sorry that I make you busy by these too many question.
Normally I am studying this to count the number of people entering a bus.
do you have any idea that a tracked object will not be counted twice?

On Sun, Mar 4, 2018 at 6:28 PM, Kyle Guan <notifications@github.com> wrote:

[2018-03-05 10:25] 3073 commented on #1
that means how to avoid counting of a person in the remaining frames  if it
is detected and tracked in the first frame?

On Mon, Mar 5, 2018 at 2:15 AM, Amare Mahtsentu <a.mahtsentu@gmail.com>
wrote:

[2018-03-05 14:13] kcg2015 commented on #1
@3073, no worry. Because the matching between the detection and the track is one-to-one, i.e, a detection can be matched to only (at most) one track, and a track can have only (at most) one associated detection,  I doubt that a tracked detection will be double-counted. Does it sound reasonable to you? Let me know.

[2018-03-05 17:07] 3073 commented on #1
by the way excuse me that I do not STAR your repo until now but you
answered me (in fact you teach me)  many questions. I will do that before I
start my work!!!

Ya it sounds good and I will try my best and let you now the result.

thank you for real

On Mon, Mar 5, 2018 at 6:13 AM, Kyle Guan <notifications@github.com> wrote:

[2018-03-05 20:19] kcg2015 commented on #1
@3073 , I am glad this repo can be helpful to you. Thanks for the star. Again, please bear with me as it takes some time to update README file and some code blocks. This is not my day-job, so progress could be slow.

[2018-03-05 20:21] 3073 commented on #1
ok. I stick with you

On Mon, Mar 5, 2018 at 12:19 PM, Kyle Guan <notifications@github.com> wrote:

[2018-03-11 19:47] 3073 commented on #1
Hi
I was testing it to count a person in a video.
 I feed a video that contain a single same person in all the frames.
but it is counting the person many times ( equal to the number of frames
that contain the person)   provide me some ideas

how do I identify the person in the second and third frame is the person
that is detected in the first frame?

Thank you very much

On Mon, Mar 5, 2018 at 12:

[2018-03-11 20:24] kcg2015 commented on #1
Hi, @3073, I have never implementd object-counting feature before, so I have don't have any first-hand experience. So my guess is (still) counting the number of matched tracks (or detections) for a given frame.  Also could you post your code (block) on github (public or private at your own choice)? Without going through your code, it is very hard to pinpoint the what happened.

[2018-03-11 20:32] 3073 commented on #1
Ok thank you

On Sun, Mar 11, 2018 at 1:24 PM, Kyle Guan <notifications@github.com> wrote:

[2018-03-12 23:32] 3073 commented on #1
Hi how are you.  look below for my test on a video
 what is wrong with the detection box that they double for single person?

On Sun, Mar 11, 2018 at 1:32 PM, Amare Mahtsentu <a.mahtsentu@gmail.com>
wrote:

[2018-03-13 14:54] kcg2015 commented on #1
@3073, could you show me an image of multiple boxes on the same object?

[2018-03-13 17:12] 3073 commented on #1
here is the video

On Tue, Mar 13, 2018 at 7:54 AM, Kyle Guan <notifications@github.com> wrote:

[2018-03-14 22:47] kcg2015 commented on #1
For some reason,  I can not see your video. See if you can upload it on YouTube and send me a link?

[2018-03-18 02:28] lad-admin commented on #2
@SignalImageCV  NameError: name 'draw_box_label' is not defined. I tried using your suggestion and it worked for CarDetector and did not work for draw_box_label. Is there a solved solution ? Thanks @kcg2015

[2018-03-18 02:42] lad-admin commented on #2
Actually I solved it. You need to add helpers. draw_box_label in tracker.py and in main.py

[2018-03-26 20:01] 3073 commented on #2
This repo is very very nice and easy for beginners like me.  I would have given   multiple stars if it was possible. I understand most of the codes except the lines of codes from 122-162 in main.py
it is better if anyone explain me.   thank you.

[2018-04-24 14:07] 3073 commented on #1
Dear my friend
 do you have some time to show me How the Main.py works in your repo?
 I did not understand the codes in:
# Deal with matched detection
# Deal with unmatched detection
# Deal with unmatched tracks
Lat time you promised to help me understand me all these thing.
off course I understand them nearly. could you be online to show me please?

Thank you

[2018-04-25 22:05] kcg2015 commented on #1
@3073 , I just update the readme file in the repo. It should be very clear the functionalities of these three code blocks.

[2018-04-26 08:25] 3073 commented on #1
very nice

[2018-04-26 14:01] kcg2015 commented on #1
Cool!  I am going to close this issue.

[2018-04-26 14:01] #1 closed

[2018-04-26 15:52] #2 closed

[2018-05-31 17:56] 3073 commented on #1
Hi there how are you....
I have this issue with the repo
I added dlib tracker with SSD mobile net  and it is not detecting the
person. the detection box is not going in the direction the person is
moving  rather the box is moving down ward.
ca you fix this....? i did not change the code in the detector.py

On Thu, Apr 26, 2018 at 7:01 AM, Kyle Guan <notifications@github.com> wrote:

[2018-06-01 02:14] kcg2015 commented on #1
@3073 ,  I am afraid that I can not be of much help to you. I am not familiar with dlib tracker at all. Also, from your description, it is very hard to pinpoint what the problem is let alone to fix it. All I can say is that if the performance of SSD Moblenet is not up to your task, consider using a different one in Tensorflow Object Dection API.

[2018-06-01 08:44] 3073 commented on #1
Thank you very much
I have fixed it......

On Thu, May 31, 2018 at 7:14 PM, Kyle Guan <notifications@github.com> wrote:

[2018-06-12 07:17] ambakick opened #3 "low frame rate issue"
For low frame rate the tracker is lagging, is there a way i can make it work for low frame videos.
Like for example changing the dt value in tracker.py

[2018-06-12 16:54] kcg2015 commented on #3
@ambakick,  you mean low frame rate videos? Could you provide an example?

[2018-06-17 07:50] #3 closed

[2018-06-17 22:11] kcg2015 commented on #3
@ambakick , what is the frame rate you are working on? I am very interested to know if you get it to work by adjusting the dt value in tracker.py?  Best, Kyle

[2018-07-06 19:06] 3073 commented on #1
Hi  how are you!!!   have you check any possibility to run this code on raspberry pi?  image classification on raspberry pi using SSD Moblenet .....

[2018-09-09 08:46] YuPeize opened #4 "About dealing with matched detections in main.py"
Whether an operation `tmp_trk.no_losses = 0` should be performed after the operation `tmp_trk.hits += 1` ?

[2018-09-09 13:02] kcg2015 commented on #4
Thanks a lot for bring this up. Let me double check and get back to you.

[2018-09-10 17:53] kcg2015 commented on #4
You are right. There is a possibility that tmp_trk.no_losses>0, then the same detection is matched again. Thus tmp_trk.no_losses needs to be reset to zero.  Thanks again for you spotting this bug!

[2018-09-11 10:31] YuPeize commented on #4
Thanks for your approval！

[2018-09-11 11:38] kcg2015 commented on #4
Great. Let me close this issue for now.

[2018-09-11 11:38] #4 closed

[2018-09-20 09:06] Aayushktyagi opened #5 "When no detections are present :"
I am curious to know that will kalman tracker work when no object is detected in the frame.I saw few ropo(https://github.com/abewley/sort) required detection in every frame otherwise it will leave track on object(car in this case).
So will kalman predict function will give next location even when  no detection is received from detector.

Thanks in advance.

[2018-09-20 14:36] kcg2015 commented on #5
@Aayushktyagi , Kalman filter can predict the location of the bounding box even when detector fails to provide a bounding box.  If you take a close look at predict_only function in tracker.py

def predict_only(self):
        '''
        Implment only the predict stage. This is used for unmatched detections and
        unmatched tracks
        '''
        x = self.x_state
        # Predict

[2018-09-21 06:04] Aayushktyagi commented on #5
Thank you so much for explanation.

[2018-09-21 06:04] #5 closed

[2018-09-27 02:09] Biyu-GitHub opened #6 "Error: 'Tracker' object has no attribute 'R_ratio'"
Hello, this is an error when I run tracker.py.

File "tracker.py", line 58, in __init__
        self.R_diag_array = self.R_ratio * np.array

AttributeError: 'Tracker' object has no attribute 'R_ratio'

So, I want to know, where is 'R_ratio' defined?

Thank you!

[2018-09-27 02:43] kcg2015 commented on #6
@Biyu-GitHub, thanks for spotting this bug.  All self.R_ratio should be replaced with self.R_scaler. Let me know if you can run the code or  encounter other errors.

[2018-09-27 02:49] by2026 commented on #6
Thank you very much ! I can run the code now.

[2018-09-27 02:50] #6 closed

[2018-10-10 16:02] intvo opened #7 "training mode"
Can you share the code for training the model using my own dataset
thank yo u

[2018-10-10 16:10] kcg2015 commented on #7
@intvo, could you be a litte more specific? Do you mean the object (car) detection model?  Please let me know.

[2018-10-12 11:13] MoustafaAyoub opened #8 "Tracker Error"
File "main.py", line 140, in pipeline
    tmp_trk = Tracker() # Create a new tracker
NameError: name 'Tracker' is not defined

I just ran your code as it is, but there is an error in the main.

[2018-10-12 12:17] kcg2015 commented on #8
@MoustafaAyoub,  see if  change  to tmp_trk = tracker.Tracker() works. Or change import tracker to from tracker import all.
Best.

[2018-10-15 11:17] MoustafaAyoub commented on #8
Thank you, it worked.

[2018-10-15 11:34] MoustafaAyoub commented on #8
Do you have any idea how can I make your program work on real time?

[2018-10-15 12:54] kcg2015 commented on #7
@intvo, I assume that you have solve your problem. So let me close this issue for the moment.

[2018-10-15 12:54] #7 closed

[2018-10-15 12:59] kcg2015 commented on #8
@MoustafaAyoub, cool. I have not looked into the detection in real time yet.  There are quite a few blogs/Githb repos on this subject. You can search object detection with webcam to get an idea.
Let me close this issue for the moment.

[2018-10-15 12:59] #8 closed

[2018-12-02 00:53] qiang92 opened #9 "A bug"
I think you should add "self.car_boxes = []" after "print('no detection!')" in file"detector.py" 124 line.
Otherwise it will keep showing the last position of previous object until the detector detects a new object.

[2018-12-02 01:36] kcg2015 commented on #9
Thanks for bring this up. Let me take a look and get back to you.

[2018-12-06 14:41] richardminh opened #10 "vehicle logo detect !!"
Dear, Mr Kcg2015, How are you?
Your project is very helpful and explanation is very detail so thanks for your efforts for developing this project.
By the way, Did you have experiences in vehicle logo detection with YOLO?
I am new about training with YOLO so that I wanna receive your kindly help.

Thanks and Regards, RIchardMinh.

[2018-12-06 15:49] kcg2015 commented on #10
Thanks for the kind words.  I have not done any logo detection. Also, I don't have too much experience with YOLO model.  My only suggestion now it to find some good YOLO repos and follow their steps to train from scratch, assuming you already have enough training samples and labels. Hope this would help.

[2018-12-06 21:52] richardminh commented on #10
Thanks for your kind reply. I will do..

[2019-01-03 03:28] songjd opened #11 "where is 'vis_util'?"
I can't find the 'vis_util' in the file `detector.py`.

[2019-01-03 20:22] kcg2015 commented on #11
You need to uncomment the following two lines of the code:
#os.chdir(cwd+'/models')
#from object_detection.utils import visualization_utils as vis_util

Basically you need to import object_detection.utils to use visualization_utils.

Let me know this would help.

[2019-01-03 20:23] kcg2015 commented on #10
Let me close this issue for now.

[2019-01-03 20:23] #10 closed

[2019-01-03 20:27] kcg2015 commented on #9
Thanks a lot for spotting this bug! I have already added this line of code (at line 125) in detector.py.

[2019-01-09 03:33] kcg2015 commented on #11
Let me close this issue for now.

[2019-01-09 03:33] #11 closed

[2019-01-09 03:33] kcg2015 commented on #9
Let me close this issue for now.

[2019-01-09 03:33] #9 closed

[2019-01-13 15:21] anzy0621 opened #12 "Getting an error when executing main.py with videos"
Hello,
           Thank you for this amazing tutorial! I really appreciate it! I was trying to execute your code with videos and I'm getting this particular error
In line 43 of main.py
   in assign_detections_to_trackers
    IOU_mat[t,d] = box_iou2(trk,det)
NameError: name 'box_iou2' is not defined

[2019-01-13 23:16] kcg2015 commented on #12
Hi, @anzy0621
Please change line 13 to from helper import *
or line 42 to IOU_mat[t, d] =helper.box_iou2(trk, det) to see if the code would run. Let me know.

Best,

Kyle

[2019-01-18 10:06] tringn opened #13 "Question on Deal with matched detections in main.py?"
Hi kcg2015,
Thanks for your great work.
I have a question on function `Deal with matched detections` in `main.py`.
Assume in the 1st frame, there is no matched detections, then we will jump to `if len(unmatched_dets) > 0:`. It does the `tmp_trk.predict_only()` by using current detection (`x = np.array([[z[0], 0, z[1], 0, z[2], 0, z[3], 0]]).T; tmp_trk.x_state = x`).
In the 2nd frame, I assume that

[2019-01-30 11:45] zhangyuan1997 opened #14 "Error occur when using my own video"
Dear, Mr Kcg2015, How are you?
Your project is very helpful and explanation is very detail so thanks for your efforts for developing this project.
When I run main.py to test my own video, there is something wrong.(video information as follows, test file size about 1.5GB)

![qq 20190130193440](https://user-images.githubusercontent.com/30192850/51978857-6352b500-24c6-11e9-99c2-a295afeb2efc.png)

Whe

[2019-01-30 16:55] kcg2015 commented on #14
@zhangyuan1997, thanks a lot for bringing this up.  It could well be a bug. I will look into it.  Meanwhile, could you try commenting out the line 147 to see if it works? Alternatively  you can  add if len(track_id_list) > 0: tmp_trk.id = track_id_lst.popleft() to avoid popping an empty list.

[2019-01-31 02:19] zhangyuan1997 commented on #12
I also meet this problem and i have solved it by your method. Thanks a lot.

[2019-01-31 02:32] zhangyuan1997 commented on #14
Thanks a lot.I will try to debug  with your method. The same error occurred (pop from an empty deque) when I used other video to test, but it happened at 198th frame.
![qq 20190131102951](https://user-images.githubusercontent.com/30192850/52026556-3bedfd80-2543-11e9-9cb3-72211308ba1f.png)
Thanks a lot for your response. Have a good day!
Best Yuan.

[2019-01-31 02:37] zhangyuan1997 commented on #14
Thank you very much! When I comment out the line 147, it works with no error.

[2019-01-31 02:40] zhangyuan1997 commented on #14
I wonder why there is an empty deque?

[2019-01-31 02:57] kcg2015 commented on #14
@zhangyuan1997 I am wondering about this too. I have not encountered this situation before.

[2019-01-31 03:38] zhangyuan1997 commented on #14
Have you tried multiple different datasets before, including the ones you recorded?If you need the data set I recorded to help solve the bug, I will send it to you by email.

[2019-01-31 05:12] zhangyuan1997 commented on #14
Sorry to take up your time, how can I draw confidence label on each bounding box.
Thanks a lot for your reply.

[2019-01-31 14:23] kcg2015 commented on #14
@zhangyuan1997, I am lookining into my code and would let you know if I fix the bug. Thanks again.

[2019-01-31 15:45] kcg2015 commented on #14
You can modify
def draw_box_label(img, bbox_cv2, box_color=(0, 255, 255), show_label=True):
in helper.py

Best

On Thu, Jan 31, 2019 at 12:12 AM 张元 <notifications@github.com> wrote:

[2019-01-31 16:21] zhangyuan1997 commented on #14
Thanks a lot. I have added this label😄

[2019-01-31 18:05] AndreAhmed opened #15 "using infrared camera"
Hello,
Thanks for your project, it's amazing.
I'm planning to use infrared (thermal) camera instead of RGB camera. What changes needs to be considered ?

[2019-01-31 18:21] kcg2015 commented on #15
@AndreAhmed , it sounds like an interesting project.  I have never worked with thermal images before. You probably need to retrain you detector from scratch.

[2019-01-31 18:39] AndreAhmed commented on #15
Can you give me more details please :) ?

[2019-01-31 18:44] AndreAhmed commented on #15
Also is it possible to test your project with real time video ?

[2019-02-01 09:21] zhangyuan1997 commented on #14
Hello, sorry to take up your time. I would like to ask the score in the scores obtained from this statement (line53: self.scores =self.detection_graph.get_tensor_by_name('detection_scores:0')) in the detector.py defaults to the highest score for each box? I found that each box corresponds to a score, corresponding to a category. The figure below shows 100 boxes, 100 categories, and 100 predicted s

[2019-02-01 09:24] zhangyuan1997 commented on #14
In addition, what is the basis for the score threshold to be 0.3?
![qq 20190201172319](https://user-images.githubusercontent.com/30192850/52114135-36c5a700-2646-11e9-8014-d2af12e02523.png)

Thanks a lot for your response!
Best.

[2019-02-01 11:39] AndreAhmed opened #16 "Drawing the tracking of the cars"
Hello,
How would I draw the path of the cars that are moving ?
Thanks so much

[2019-02-01 11:53] AndreAhmed opened #17 "detecting of persons not working"
Hello,
I changed the v to 1 but it doesn't detect persons

[2019-02-01 12:42] kcg2015 commented on #15
@AndreAhmed , first you have to collect infrared images and label the objects that you want to detect. And then follow Tensorflow Object Detetion API tutorial (https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_pets.md) to train the model. Also It is possible to test the project with real time video.

[2019-02-01 12:46] kcg2015 commented on #17
@AndreAhmed , it is possible. SSD-Moblienet Detector can fail to detect objects in some cases. You can considering using other types of detectors.

[2019-02-01 12:48] kcg2015 commented on #16
@AndreAhmed , you have to implement a separate lane detector and then mark the lanes.

[2019-02-01 12:56] kcg2015 commented on #14
@zhangyuan1997,  you have to tune this parameter based on the detector's performance on your images. If the value is too low, you would have false-positives. If the value is too high, you would have miss-detections. I choose 0.3 because it works the best for the images I tested.

[2019-02-01 13:01] kcg2015 commented on #17
@AndreAhmed , also change
 idx_vec = [i for i, v in enumerate(cls) if ((v==3) and (scores[i]>0.3))]
to
idx_vec = [i for i, v in enumerate(cls) if ((v==1) and (scores[i]>0.0))]
to see if you can detect any person (basically lower the detection threshold to 0). Hope this would work for you to some degree.

[2019-02-01 13:35] AndreAhmed commented on #17
@kcg2015  Thanks for your fast reply.

It doesn't work at all with that line of code, and there dozen of bounding box out there.

[2019-02-01 13:45] AndreAhmed commented on #17
You can test that video
https://github.com/ahmetozlu/tensorflow_object_counting_api/blob/master/input_images_and_videos/pedestrian_survaillance.mp4

[2019-02-01 16:48] AndreAhmed commented on #16
@kcg2015
I meant by drawing the path, drawing the predicted position of the car.

[2019-02-01 16:48] AndreAhmed opened #18 "tracking is lost"
Hello,
The tracking is lost and it's not accurate, sometimes in the cars the bounding box is hidden for few frames then it continues tracking again

[2019-02-01 17:18] kcg2015 commented on #17
@AndreAhmed , you probably have to try different TF detectors.

[2019-02-01 17:21] kcg2015 commented on #16
@AndreAhmed , I still don't quite undertand what you mean by the path. Once you know coordinates, you  can use OpenCV APIs  to to draw the lines?

[2019-02-02 08:18] zhangyuan1997 commented on #14
Thanks a lot！Having a discussion with you has taught me a lot.😊😊😊Thank you very much. Happy New Year.

[2019-02-06 12:21] kcg2015 commented on #14
Glad that I can be of some help. Let me close this issue for now.

[2019-02-06 12:21] #14 closed

[2019-03-15 10:11] 3073 opened #19 "about matching detections and trackers"
hi helper ... can I take the principle you used for matching detection and trackers and use dlib for creating a new tracker for the unmatched detection?

[2019-03-18 01:48] kcg2015 commented on #19
Sorry for the late reply. It should be the same principle

[2019-03-19 03:54] 3073 commented on #19
Thank you as always... normally the detection will run every 30 frames (
some frames will be skipped) for increasing the speed of processing because
the detection is slow. anyways i will provide you the result soon  for
asking a help ...

On Sun, Mar 17, 2019 at 6:48 PM Kyle Guan <notifications@github.com> wrote:

[2019-03-20 14:18] Ronales commented on #16
dear author ,I think above answer means want to draw the multi object trajectory using opencv.I also have the same question.

[2019-03-20 20:08] kcg2015 commented on #19
Cool!

[2019-03-21 07:16] 3073 commented on #19
##### there are some code here not necessary for this particular
discussion.

    def iou(self,a, b): ### I used your code directly here
        w_intsec = np.maximum (0, (np.minimum(a[2], b[2]) -np.maximum(a[0], b[0])))
        h_intsec = np.maximum (0, (np.minimum(a[3], b[3]) -np.maximum(a[1], b[1])))
        s_intsec = w_intsec * h_intsec
        s_a = (a[2] - a[0])*(a[3] - a[1])
        s_b =

[2019-03-21 07:33] 3073 commented on #17
I have tested on this video and it works. i changed nothing except the directory  for weight file and video file.  look the detector module here.
import numpy as np
import tensorflow as tf
import os
import cv2
from matplotlib import pyplot as plt
cwd = os.path.dirname(os.path.realpath(__file__))
class Detector(object):
    def __init__(self):
        self.car_boxes = []
        os.chdir(cwd)

[2019-03-24 14:12] kcg2015 commented on #19
@3073 , sorry for the late reply. This seems to me a very difficult problem to solve, honestly.  I have been struggling with finding parameters that work well with a wide range of scenarios.

[2019-03-24 17:01] 3073 commented on #19
thank you....

[2019-03-25 01:47] kcg2015 commented on #19
@3073 , keep me posted if you find a solution.

[2019-03-25 03:56] 3073 commented on #19
ok sir

On Sun, Mar 24, 2019 at 6:47 PM Kyle Guan <notifications@github.com> wrote:

[2019-04-06 08:22] mzhian commented on #13
Hi @tringn,
I agree with what you supposed. In the matched detection and tracker, I also think it should be **update** first followed by **predict**.
Hi @kcg2015,
Thanks for sharing you work and could you please clarify this if we are wrong?

[2019-05-21 07:14] FD-MINGJIE opened #20 "NameError: name 'Tracker' is not defined"
Hi!

when i run the main.py, it happended to be a problem called ''NameError: name 'Tracker' is not defined" and "2.82it/s]wrong ratio or wrong size,  [426 230 441 257] , confidence:  0.36141032 ratio: 0.5553498704183636". I don't know the cause. Please you help me!

Thank you!

[2019-05-29 06:28] tejanmehndiratta15 opened #21 "moviepy.editor.VideoClip not working"
Traceback (most recent call last):
  File "/usr/lib/python3.6/code.py", line 91, in runcode
    exec(code, self.locals)
  File "<input>", line 1, in <module>
  File "/snap/pycharm-professional/132/helpers/pydev/_pydev_bundle/pydev_import_hook.py", line 21, in do_import
    module = self._system_import(name, *args, **kwargs)
  File "/home/tejanmehndiratta15/.local/lib/python3.6/site-packages/moviep

[2019-07-01 11:33] graficoc opened #22 "module 'helpers' has no attribute 'draw_box_label'"
[420   4 457  68] , confidence:  0.44781974 ratio: 0.5780346820809248
[424 225 451 263] , confidence:  0.32874542 ratio: 0.7103393843725336
Frame: 1
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-31-bb730ca43f39> in <module>
    198         for i in range(len(images))[0:7]:
    1

[2019-07-02 06:41] younghuvee commented on #20
tracker.Tracker()

[2019-07-02 07:14] younghuvee opened #23 "A question about video tracking"
Hi, thanks for your amazing project, i have a question about video tracking, how can i see the different ID for car in the final output video?

[2019-07-09 02:01] kcg2015 commented on #23
Sorry for the late reply,   you can modify the following function in the helper.py:
 draw_box_label(img, bbox_cv2, box_color=(0, 255, 255), show_label=True).
Hope this helps.

[2019-07-10 03:08] younghuvee commented on #23
Hello，I mean that can I give the car an ID number to track it in the output video?

[2019-07-10 20:59] kcg2015 commented on #23
Yes.  Please see L148: tmp_trk.id = track_id_list.popleft() # assign an ID for the tracker.

[2019-07-18 02:59] younghuvee commented on #23
Thank you, can i put 'ID' text on the detect rectangle just like this

[code]

[2019-07-18 03:13] younghuvee commented on #23
@HWYangege   this my twitter address ,  looking forward your reply^_^

[2019-07-18 03:18] kcg2015 commented on #23
Of course. Feel free to make any changes as you see fit.

[2019-07-31 01:44] zubairahmed-ai commented on #22
Not on this but on a different function I got the same error so I did this to fix it and it works

`from helpers import box_iou2`

[2019-07-31 01:44] zubairahmed-ai commented on #20
Like @younghuvee said or you can do this `from tracker import Tracker`

[2019-07-31 01:49] zubairahmed-ai opened #24 "Using this for person tracking on different videos"
Hi,

First of all, thanks for sharing this great work!

I am using this on other videos of people walking and I figured the following code needs to change a bit to accommodate bigger detections/bounding boxes  in addition to changing the ID to 1 (person) instead of 3 (car)

in `detector.py` I changed `#   if ((ratio < 0.8) and (box_h>10)):` to be `if ((ratio < 2) and (box_h>20) and (box_w>20)):`

[2019-07-31 16:45] kcg2015 commented on #24
Hi, @zubairahmed-ai ,

Do you have any scree captures?
I suggest you first test if the detector outputs are reasonably accurate (without any restrictions on bounding boxes), i.e., the locations as well as the sizes of the bounding boxes.  You can use capture_frame.py to isolated the frames that give you trouble.  Hope this will help.

[2019-08-01 05:11] zubairahmed-ai commented on #24
I managed to take a screen shot ![Tracking](https://user-images.githubusercontent.com/1317442/62267150-a32e3100-b444-11e9-874a-3e88eadc75a4.png)

you see the big bounding box, how do I get rid of this? I think its due to this reason that none of my trackers actually work

[2019-08-01 05:28] zubairahmed-ai commented on #24
You can see that in [the final video as well](https://streamable.com/jooxc) also note that the tracking is not consistent meaning it disappears and unable to follow an object from start to end, any way to improve this?

[2019-08-01 08:03] zubairahmed-ai commented on #24
Ok I managed to figure this out [the result is much better now](https://streamable.com/f9kif)

I changed the `track_id_list` to have more items

`track_id_list= deque(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','A1', 'B1', 'C1', 'D1', 'E1', 'F1', 'G1', 'H1', 'I1', 'J1', 'K1','L1','M1','N1','O1','P1','Q1','R1','S1','T1','U1','V1

[2019-08-01 12:11] kcg2015 commented on #24
@zubairahmed-ai, the video looks awesome! Multi-object tracking is always not easy.  I suggest you try a different object detector (YOLO, RCNN, etc.) to see if there are any visible improvement.
The SSD MobileNet detector in this repo is a general purpose one (not optimized specifically for people detection)  that trained on color images. You video is in gray scale.  This could affect the detectio

[2019-08-01 12:16] zubairahmed-ai commented on #24
@kcg2015 Makes sense, let me try another sample to see, unfortunately RCNN based detectors are slow so I'm not looking to use them but YOLO I may check

[2019-08-01 22:44] kcg2015 commented on #24
@zubairahmed-ai , awesome, keep me posted for the YOLO results.  Let me close this issue for now.

[2019-08-01 22:44] #24 closed

[2019-08-07 23:23] anzy0621 commented on #12
It worked, thank you!

[2019-08-07 23:23] #12 closed

[2019-09-19 04:32] kcg2015 commented on #23
@younghuvee, let me close this issue for now.

[2019-09-19 04:32] #23 closed

[2019-11-20 06:30] chokkarapu opened #25 "Tracker without constant velocity"
Dear Author(kcg2015),

your work is amazing and also great in sharing your work to research community.

Here you are considering the constant velocity model in the process matrix, as shown in snapshot:
![image](https://user-images.githubusercontent.com/3630515/69214374-d3811300-0b8c-11ea-8cf0-7200db60cef6.png)

Here Im having few queries mentioned below:
1) If ego vehicle is not moving in constant

[2019-11-20 13:00] kcg2015 commented on #25
@chokkarapu , thanks for the kind words!  To answer your questions:

1. You can consider a constant acceleration model. There are tons of tutorials on line, for example, https://vimeo.com/87854541. If should be very straight forward to integrate this model into the code.

2. Yes,  I set delta_t to 1. You can try different value, say delta_t = 2, to see if it works for low-frame-rate video, let me

[2019-11-21 07:33] JyunYuLai opened #26 "About state, process, measurement covariance"
Hi Sir,

Thank you for your great work.
I'm curious about how you set the initial value of each covariance ?
Any design consideration or if it's only random values?
Thank you in advance.

Best Regards,
Lai

[2019-11-21 08:00] JyunYuLai commented on #26
More specifically, for example,
(1) for the state covariance, self.L = 10.0
(2) for process covariance, self.Q_comp_mat = np.array([self.dt**4/4, self.dt**3/2],
                                                                                         [self.dt**3/2, self.dt**2]]])
Thank you!

[2019-11-21 08:08] JyunYuLai commented on #26
https://towardsdatascience.com/kalman-filter-an-algorithm-for-making-sense-from-the-insights-of-various-sensors-fused-together-ddf67597f35e

[2019-11-21 08:08] #26 closed

[2019-11-30 15:36] kcg2015 commented on #25
@chokkarapu, I figure that you have already figured out approaches with acceleration model and low frame rate. Let me close this issue for now.

[2019-11-30 15:36] #25 closed

[2020-03-06 08:23] bharti228 opened #27 "no module movie.py"

[2020-03-06 11:56] NasimSulaiman opened #28 "Assign Id to the tracked object"
I am trying to assign id to the tracked object but nothing is giving me an output , can any please give some idea about this, and can you please tell me about  the tracker's id defined in tracker.py

[2020-03-06 20:02] kcg2015 commented on #28
@NasimSulaiman, could you give me more specifics?

[2020-03-07 15:25] NasimSulaiman commented on #28
hi, what I am trying to do is assign id numbers to each vehicle it detect and track, that is that is it has to assign ids like id1,id2,id3,etc.. and the ids should not be changed until the tracked vehicle pass out of the frame. Can you give me a solution

[2020-03-26 00:07] klintan opened #29 "License?"
Hey,
thank you for this awesome work! However I couldn't find any license information? Is it MIT- or BSD-licensed ?

[2020-03-30 04:58] kcg2015 commented on #29
Hi, @klintan,  this is still an on-going project, thought I have not been active recently. So I have not set the license up. Anyway, you can use it or modify it as you see fit.  Best, Kyle

[2020-03-30 20:09] JonathanB-96 opened #30 "Tracking and counting"
Hi Kyle,

First of all I would like to thank you as I am grateful for your amazing work, I am a student conducting a research for my thesis on people counter using object detection and tracking and this was very helpful.

I used the SSD mobilenet pre-trained model and trained with a custom dataset I made from overhead images of people taken from an IP camera. I was able to detect the heads of peop

[2020-04-08 05:13] klintan commented on #29
Thanks!

[2020-04-08 05:13] #29 closed

[2020-04-11 12:31] #30 closed

[2020-05-29 06:11] Sukeysun commented on #27
pip install moviepy

[2020-06-19 11:43] jamalihuzaifa9 opened #32 "TypeError in main.py"
Traceback (most recent call last):
  File "main.py", line 200, in <module>
    image_box = pipeline(image)
  File "main.py", line 112, in pipeline
    = assign_detections_to_trackers(x_box, z_box, iou_thrd = 0.3)
  File "main.py", line 56, in assign_detections_to_trackers
    if (d not in matched_idx[ : ,1]):
TypeError: tuple indices must be integers or slices, not tuple

[2020-08-26 16:57] nuriakiin commented on #32
@jamalihuzaifa9 Did you solve this problem?

[2020-08-30 12:22] bosunrunner opened #33 "how do you initialize the tracker? I have problems when I run main.py as shown below."
Traceback (most recent call last):
  File "E:/PycharmProject/Vehicle-Detection-and-Tracking/main.py", line 201, in <module>
    image_box = pipeline(image)
  File "E:/PycharmProject/Vehicle-Detection-and-Tracking/main.py", line 115, in pipeline
    = assign_detections_to_trackers(x_box, z_box, iou_thrd=0.3)
  File "E:/PycharmProject/Vehicle-Detection-and-Tracking/main.py", line 71, in assign_detec

[2020-12-17 13:34] NirmalJainCM commented on #32
I have been facing the same issue
Can somebody help

[2021-01-31 20:16] moumed commented on #32
Does someone resolved this problem ? I'am getting this error when trying to test the project on a video.

[2021-01-31 23:57] moumed commented on #32
Hey again, I'have resolved the problem by reinstalling scikit-learn to 0.22.2.
The problem was here "from sklearn.utils.linear_assignment_ import linear_assignment", I tried tu use linear_assignment from scipy like this : "from scipy.optimize import linear_sum_assignment as linear_assignment", and that causes the problem. By reinstalling to another version like that :
**pip install scikit-learn==0

[2021-02-15 08:22] kavyadevanapalli opened #34 "requirements.txt file"
Kindly provide requirements.txt file.

[2021-08-15 11:21] pawan-nirpal-031 opened #35 "No folder named models"
Is there supposed to be a folder named 'models' because I'm getting an error for it.

[2022-01-23 14:16] SushVK18 commented on #32
hey ,

can you tell me where I should make changes in the code for detecting my video?

Like in the detector file , i am not sure which file path to provide?

[2022-01-23 14:17] SushVK18 commented on #35
hey ,

can you tell me where I should make changes in the code for detecting my video?

Like in  detector file , i am not sure which file path to provide?

[2022-01-23 14:18] SushVK18 commented on #28
hey ,

can you tell me where I should make changes in the code for detecting my video?

Like in  detector file , i am not sure which file path to provide?